<!-- By default, Angular Material applies no global styles to native elements. -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>Tartisi</button>
    <button mat-button>Yorum</button>
    <mat-icon class="toolbar-icon">show_chart</mat-icon>
    <span class="toolbar-spacer"></span>
    <mat-icon class="toolbar-icon">attach_money</mat-icon>
    <mat-icon class="toolbar-icon">people</mat-icon>
    <mat-icon class="toolbar-icon">settings</mat-icon>
    <mat-icon class="toolbar-icon">menu</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Applying the mat-tyography class adds styles for native elements. -->
<section class="mat-typography">
  {{ title }}!
</section>